.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #080808;
  width: 100%;
}

.footerContainer {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footerTop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  padding: 0 0 20px 0;
  border-bottom: solid 2px #585858;
}

.footerBot {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 1em;
}

.footerBot p {
  text-align: center;
}

@media (min-width: 600px) {
  .footer {
    gap: 24px;
  }
}
